/* */
#name {
  position: absolute;
  padding-top: 2.5rem;
  padding-left: 1.4rem;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
  color: #5e83a8;
  z-index: 1;
}
#name:hover {
  -webkit-animation:name 4s infinite;
  cursor: default;
}

@keyframes name {
  0% {color:#5498cc;}
  50% {color:rgb(61, 90, 158);}
  100% {color:#5498cc;}
}

/* */
#banner {
  position: absolute;
  float: left;
  padding-left: 1vw;
  padding-top: 1vw;
}

.language {
  position: fixed;
  padding-left: 90vw;
  padding-top: 2vw;
}

/* Navbar design */
nav {
  margin: 27px auto 0;
  position: absolute;
  width: 75.5vw;
  height: 75px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
  margin-left: 20vw;
  margin-top: 2vw;
}

/* Navbar Item's design */
nav a {
  line-height: 70px;
  height: 100%;
  font-size: 24px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
}

/* Navbar */
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 120px;
}
a:nth-child(3) {
  width: 150px;
}
a:nth-child(4) {
  width: 150px;
}
a:nth-child(5) {
  width: 100px;
}
nav .start-home, .navbar_home:hover~.animation {
  width: 125px;
  left: 40px;  
  background-color: #1ABC9C;
}
nav .start-projects, a:nth-child(2):hover~.animation {
  width: 135px;
  left: 252px;
  background-color: #18B3B2;
}
nav .start-timeline, a:nth-child(3):hover~.animation {
  width: 150px;
  left: 485px;
  background-color: #16AAC7;
}
nav .start-education, a:nth-child(4):hover~.animation {
  width: 140px;
  left: 744px;
  background-color: #14A1DC;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 125px;
  left: 990px;
  background-color: #1197F1;
}

body {
  font-size: 12px;
  background: #2c3e50;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: absolute;
  max-width: 1200px;
  margin-top: 15vw;
  margin-left: 10vw;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #476481;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 43.25%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(94, 135, 200);
  border: 4px solid #88c3ff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(55, 155, 92);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(57, 136, 175) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  color: blanchedalmond;
  position: relative;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgb(62, 134, 185), rgb(54, 166, 76));
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
.container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Make sure all circles are at the same spot */
.left::after, .right::after {
  left: 15px;
}

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


/* About me english page (all the items, 1# div) */
#about_me {
  margin-top: 15vw;
  margin-left: 5vw;
  padding-left: 1vw;
  padding-top: 0.5vw;
  padding-right: 1vw;
  position: absolute;
  background: #4d6b89;
  border-radius: 15px;
}

#right_cells_1{
  font-size: 24px;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-left:2px solid rgb(180, 222, 255);
}

#left_cells_1{
  font-size: 24px;
  padding-right: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#right_cells_2{
  font-size: 24px;
  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-left:2px solid rgb(180, 222, 255);
  border-top:2px solid rgb(180, 222, 255);
}

#left_cells_2{
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top:2px solid rgb(180, 222, 255);
  border-top:2px solid rgb(180, 222, 255);
}

/* Spinners in the grades*/
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2.5s linear infinite;
  float: right;
  position:  absolute;
  margin-left: 35.5vw;
  margin-top: -3.3vw;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

img {
  border-radius: 10px;
}

#paragraphs_projects {
  width: 600px;
}

#awards {
  font-size: 18px;
}

#easter-egg {
  color: #2c3e50;
  position: absolute;
  margin-top: 130vw;
}

#contact_table {
  margin-top: 15vw;
  margin-left: 13vw;
  padding-left: 3vw;
  padding-top: 2vw;
  position: absolute;
  background: #4d6b89;
  border-radius: 15px;
}

#icon_l {
  padding-bottom: 4vw;
  padding-bottom: 4vw;
  padding-top: 3vw;
}
#icon_r {
  padding-left: 27vw;
  padding-bottom: 4vw;
  padding-top: 3vw;
}
#details_l {
  padding-left: 3vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
}
#details_r {
  padding-right: 6vw;
  padding-left: 3vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
}


td{
  color: blanchedalmond;
  font-size: 20px;
}