/* */
#name {
  position: absolute;
  padding-top: 2.5rem;
  padding-left: 1.2rem;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
  color: #5e83a8;
  z-index: 1;
}
#name:hover {
  -webkit-animation:name 4s infinite;
  cursor: default;
}

@keyframes name {
  0% {color:#5498cc;}
  50% {color:rgb(61, 90, 158);}
  100% {color:#5498cc;}
}

/* */
#banner {
  position: absolute;
  float: left;
  padding-left: 1vw;
  padding-top: 1vw;
}

.language {
  position: fixed;
  padding-left: 90vw;
  padding-top: 2vw;
}

/* Navbar design */
nav {
  margin: 27px auto 0;
  position: absolute;
  width: 77vw;
  height: 75px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
  margin-left: 20vw;
  margin-top: 2vw;
}

/* Navbar Item's design */
nav a {
  line-height: 70px;
  height: 100%;
  font-size: 24px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
}

/* Navbar */
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 120px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 200px;
}
a:nth-child(5) {
  width: 90px;
}
nav .start-home, .navbar_home:hover~.animation {
  width: 125px;
  left: 40px;  
  background-color: #1ABC9C;
}
nav .start-projects, a:nth-child(2):hover~.animation {
  width: 135px;
  left: 252px;
  background-color: #18B3B2;
}
nav .start-timeline, a:nth-child(3):hover~.animation {
  width: 180px;
  left: 470px;
  background-color: #16AAC7;
}
nav .start-education, a:nth-child(4):hover~.animation {
  width: 149px;
  left: 719px;
  background-color: #14A1DC;
}
nav .start-contact, a:nth-child(5):hover~.animation {
  width: 125px;
  left: 980px;
  background-color: #1197F1;
}

body {
  font-size: 12px;
  background: #2c3e50;
  font-family: Helvetica, sans-serif;
}